<script type="text/javascript">

var arr_Name = [];
var arr_LatLng = [];
var map;
var bounds;
var modalWindow = new ModalWindow(map);

function initialize() {

    //var myLatlng = new google.maps.LatLng(25.04195,121.519028);

    var mapOptions = {
        //center: myLatlng,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: true,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
        }
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
    bounds = new google.maps.LatLngBounds();

    /*
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Hello World!'
    });
    */

    {% for mData in contents %}
        var lat = "{{mData.latitude}}";
        var lng = "{{mData.longitude}}";
        var name = "{{mData.name}}";
        var LatLng = new google.maps.LatLng(lat, lng);
        arr_Name.push(name);
        arr_LatLng.push(LatLng);
    {% endfor %}

    {% for mData in contents %}
        var lat = "{{mData.latitude}}";
        var lng = "{{mData.longitude}}";
        var name = "{{mData.name}}";
        var LatLng = new google.maps.LatLng(lat, lng);
        addSite(name,LatLng);
        bounds.extend(LatLng);
    {% endfor %}

    map.fitBounds(bounds);

}


function addSite(name, latlng) {

    var request = {
        location: latlng,
        radius: '5000',
        query: name
    };

    service = new google.maps.places.PlacesService(map);
    service.textSearch(request, callback);

}


function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      var place = results[i];
        addImageMarker(place);
        //addMarker(place.name,place.geometry.location);
    }

  }
}


function addImageMarker(place) {

    var photos = place.photos;

    if (!photos) {
        //addMarker(place.name,place.geometry.location);
        return;
    }

    var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location,
        title: place.name,
        icon: photos[0].getUrl({'maxWidth': 40, 'maxHeight': 40})
    });

    attachSecretMessage(marker, place.name, place.geometry.location,photos[0].getUrl({'maxWidth': 200, 'maxHeight': 200}));
}


function addMarker(name, latlng) {

    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: name
    });

    attachSecretMessage(marker, name, latlng);
}


var prev_infowindow = null;
function attachSecretMessage(marker, name, latlng, photo) {

    var contentString =
          '<h4 class="firstHeading" align="center" >'+name+'</h4>'+
          '<img src="'+photo+'"></img>';

  var infowindow = new google.maps.InfoWindow({
    content:contentString
  });

  google.maps.event.addListener(marker, 'click', function() {
    if (prev_infowindow != null) {
        prev_infowindow.close();
    }
    prev_infowindow = infowindow;
    infowindow.open(marker.get('map'), marker);
  });

  google.maps.event.addListener(marker.get('map'), 'click', function() {
    infowindow.close();
  });


}


</script>

