<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Travel Spots</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            {% if navbar_id == 'home' %}
            <li class="active"><a href="/">Home</a></li>
            {%else%}
            <li><a href="/">Home</a></li>
            {% endif %}

            {% if navbar_id == 'about' %}
            <li class="active"><a href="{% url 'spots.views.aboutinfo' %}#01">About</a></li>
            {%else%}
            <li><a href="{% url 'spots.views.aboutinfo' %}#01">About</a></li>
            {% endif %}

            {% if navbar_id == 'contact' %}
            <li class="active"><a href="{% url 'spots.views.contactinfo' %}#01">Contact</a></li>
            {%else%}
            <li><a href="{% url 'spots.views.contactinfo' %}#01">Contact</a></li>
            {% endif %}

            {% if navbar_id == 'news' %}
            <li class="active"><a href="{% url 'spots.views.news' %}#01">Travel News</a></li>
            {%else%}
            <li><a href="{% url 'spots.views.news' %}#01">Travel News</a></li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List of cities<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              {% for city_name in cities %}
              <li > <a href="{% url 'spots.views.choosecity' city_name %}#01" target="_top">{{city_name}}</a> </li>
              {% endfor %}
              </ul>
            </li>

            <li>
            <form class="navbar-form navbar-right" action="/SpotSearch/#01" method="get">

                <div class="form-group">
                    <input name="spot_search" type="text" class="form-control" placeholder="Search...">
                </div>
                <button class="btn btn-default" type="submit">Search</button>
            </form>
            </li>

            <li class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li id="authorize-button"><a onclick="handleAuthClick()">Login</a></li>
                <li id="calendar-button" style="display:none" ><a href="https://www.google.com/calendar/" target="_blank">Calendar</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
