<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/carousel.css" media="screen">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css">

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <style>
    #panel_body_style {
      padding-top:15px;
      padding-left:50px;
      padding-right:50px;
      padding-bottom:15px;
    }
    </style>

    {% include 'map.html' %}
    {% include 'map_place.html' %}
    {% include 'googlecalendar.html' %}

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>

</head>

<body >

{% include 'narbar.html' %}

{% include 'CarouselSpots.html' %}

{% block content %}{% endblock %}

<div class="container">

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div> <!-- /container -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf5rc8A-VjZG4gAh5o0sH0j-p9lVIEdSc&libraries=places&callback=initialize" async defer></script>

</body>
</html>
