{% extends 'base.html' %}

{% block title %}List of cities{% endblock %}

{% block content %}
<div class="container" align="center">
<div id="01"></div>
<div class="panel panel-success">
    <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body" id="panel_body_style" >
      <div class="row">
        {% for name in contents1 %}
        <div class="col-xs-6 col-lg-2" id="panel_body_style" >
        <a class="btn btn-default" href="{% url 'spots.views.citydetails' title name.city %}#01" role="button">{{name.city}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

<ul class="pager">
    <li><a href="/#01">Previous</a></li>
</ul>
</div> <!-- /container -->

<div id="map_canvas" style=" width:80%; height:50%; margin:0 auto;"></div>

{% endblock %}