{% extends 'base.html' %}

{% block title %}Travel Spots Contact{% endblock %}

{% block content %}
<div class="container">
<div id="01"></div>

<div class="page-header" align="center">
	<h1>Contact</h1>
</div>

<div class="panel panel-info">
    <div class="panel-body" id="panel_body_style" >
      <div class="row">
          <P><H4>Developer:HsunChe Li</H4></P>
          <P><H4>E-mail:<a href="mailto:ericli0625@gmail.com">ericli0625@gmail.com</a></H4></P>
      </div>
    </div>
</div>
{% endblock %}