<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Travel Spots</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/carousel.css" rel="stylesheet">

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; }
    </style>

    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>

    <script type="text/javascript">

    function initialize() {

    //var myLatlng = new google.maps.LatLng(25.04195,121.519028);

    var mapOptions = {
        //center: myLatlng,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: true,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
        }
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
    var bounds = new google.maps.LatLngBounds();
/*
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Hello World!'
    });
*/

        {% for mData in contents %}
            var lat = "{{mData.latitude}}";
            var lng = "{{mData.longitude}}";
            var name = "{{mData.name}}";
            var category = "{{mData.category}}";
            var LatLng = new google.maps.LatLng(lat, lng);
            addSite(map,lat,lng,name,category);
            bounds.extend(LatLng);
        {% endfor %}
        map.fitBounds(bounds);

    }

google.maps.event.addDomListener(window, 'load', initialize);

function addSite(map, lat, lng, name, category) {
    var pt = new google.maps.LatLng(lat,lng);

    var marker = new google.maps.Marker({
        position: pt,
        map: map,
        title: name
    });

    attachSecretMessage(marker, name, category, lat, lng);
}

var prev_infowindow = null;
function attachSecretMessage(marker, name,category,lat,lng) {
  var infowindow = new google.maps.InfoWindow({
    content:
            "景點名稱：" + name
    + "<br />景點類型：" + category
    + "<br />緯度：" + lat
    + "<br />經度：" + lng
  });
  google.maps.event.addListener(marker, 'click', function() {
    if (prev_infowindow != null) prev_infowindow.close();
    prev_infowindow = infowindow;
    infowindow.open(marker.get('map'), marker);
  });
}

</script>

<script>


</script>

</head>

<body onload="initialize() " >

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" >Travel Spots</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'spots.views.datainfo' 'About' %}#01">About</a></li>
                <li><a href="{% url 'spots.views.datainfo' 'Contact' %}#01">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List of cities<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
{% for city_name in cities %}
<li > <a href="{% url 'spots.views.choosecity' city_name %}#01" target="_top">{{city_name}}</a> </li>
{% endfor %}
                  </ul>
                </li>
                <li >
            <form class="navbar-form navbar-right" action="/SpotSearch/" method="get">
                <div class="form-group">
                    <input name="spot_search" type="text" class="form-control" placeholder="Search...">
                </div>
                <button class="btn btn-default" type="submit">Search</button>
            </form>
                </li>
              </ul>
            </div>
          </div>
        </nav>

    </div>
</div>

{% include 'CarouselSpots.html' %}

<div class="container">
<div id="01"></div>
    <div class="panel panel-info" align="center">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}{{title_zone}}</h3>
    </div>
        <div class="panel-body">
        <div class="panel-group" id="accordion" >
        {% for choose in contents %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{choose.name}}">{{choose.name}}</a>
            </h4>
          </div>
          <div id="{{choose.name}}" class="panel-collapse collapse">
            <div class="panel-body" >
            <p>{{choose.category}}</p>
            <p>{{choose.address}}</p>
            <p>{{choose.telephone}}</p>
            <p>{{choose.content}}</p>
            <p><iframe width="260" height="260" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q={{choose.latitude}},{{choose.longitude}}({{choose.name}})&z=16&output=embed&iwloc=p></iframe></p>
            </div>
          </div>
        </div>
        {% endfor %} 
        </div><!-- /accordion -->
        </div>
    </div>

    <ul class="pager">
        <li><a href="{% url 'spots.views.choosecity' title %}">Previous</a></li>
    </ul>

</div> <!-- /container -->


    <div id="map_canvas" style=" width:80%; height:50%; margin:0 auto;"></div>


<div class="container">
<!-- FOOTER -->
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</div> <!-- /container -->

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

</body>
</html>
