{% extends 'base.html' %}

{% block title %}Travel Spots Home{% endblock %}

{% block content %}
<div class="container" align="center">

    <div class="page-header">
      <h2>景點推薦</h2>
    </div>

    <div class="panel-group" id="accordion">
    {% for choose in contents %}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{choose.name}}" onclick="decideLogin('{{choose.name}}')" >{{choose.name}}</a></h4>
          </div>
          <div id="{{choose.name}}" class="panel-collapse collapse">
            <div class="panel-body">
              <p id="authorizeImg{{choose.name}}"><a href="#myDialog{{choose.name}}" role="button" class="btn" data-toggle="modal"><img src="{{ STATIC_URL }}photo/heart.png" class="img-rounded" height="30" width="30"></a></p>
              <p>{{choose.category}}</p>
              <p>{{choose.address}}</p>
              <p>{{choose.telephone}}</p>
              <p>{{choose.content}}</p>
              <ul id="PhotoList">
                
              </ul>
              <!--
              <p><iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q={{choose.latitude}},{{choose.longitude}}({{choose.name}})&z=16&output=embed></iframe></p>
              -->

            </div>
          </div>

        {% include 'calenderDialog.html' %}

        </div>
    {% endfor %}
    </div>
</div>

<div id="map_canvas" style=" width:80%; height:50%; margin:0 auto;"></div>

{% endblock %}